/*Временный CSS для проверки подключения стиля*/
/*
body {
  background-color: tomato;
}
*/
/*
Подключим шрифты. Шрифтовые файлы находятся в проекте в папке fonts. 
Для подключения шрифтов воспользуемся директивой @font-face в стилях.
Директива @font-face служит описанием шрифта: как он называется и какие параметры имеет.

font-family используется на двух стадиях шрифта: объявление и использование.
Мы находимся на стадии объявления, поэтому запись будет короткая. Другую запись
вы увидите чуть позже — в момент использования. Мы на ней подробно остановимся далее.

В font-family нужно указать имя шрифта, к которому мы впоследствии будем обращаться.
Обратите внимание, что имя шрифта, имеющее пробел в названии, обязательно должно быть
в кавычках. PT Sans — неправильно, "PT Sans" — правильно.

Далее указаны обязательные свойства в определении шрифта: начертание — font-style и насыщенность — font-weight.

Наш шрифт не наклонный — normal, а насыщенность — 400. Но как мы это поняли?

Чтобы определить настройки шрифта, есть два варианта: подключить шрифт к странице или
узнать настройки в сервисе, из которого был скачан шрифт. Мы скачали шрифт из Google Fonts
и там же посмотрели все настройки.
*/
@font-face {
    font-family: "PT Sans";
    
    font-style: normal;
    font-weight: 400;
    
/* Добавим шрифтовой файл. Заметьте, что стиль текста не изменился.
Это нормально, ведь мы ещё не определили,какой конкретно текст должен отображаться
этим шрифтом — PT Sans.

Также сейчас сработала встроенная браузерная оптимизация: если шрифт объявлен,
но к нему нет обращений, то есть он не используется, то шрифт не будет скачиваться.  */  
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");

/* Укажем, как шрифт будет отображаться: пропишем значение swap, чтобы шрифт не блокировался
и имел бесконечный период подмены. Это самое частое значение для font-display,
но это не значит, что другие плохие.

Подробнее про то, как это работает, ищите в разделе «3.13. Свойство font-display». */

  
    font-display: swap;

    /*Подключим оставшиеся варианты шрифтового семейства.Сначала полужирный.
    Для одного и того же шрифта указываем одинаковое название — "PT Sans".*/


@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

/*Теперь наклонный.*/

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

/*полужирный наклонный.*/

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }

  /*Для другого семейства укажем другое название.*/
  /* PT Sans Narrow */
@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
    font-display: swap;
  }
  
  }

  /*Обычно на <body> добавляют основные текстовые параметры проекта.
  Это нужно для того, чтобы любой добавленный текст сразу отображался так,
  как задумывалось на макете. Чтобы понять какой шрифт используется чаще
  всего, нужно пойти в макет и буквально прокликать весь контент.

В макете Барбершопа чаще всего используется "PT Sans" и в редких моментах "PT Sans Narrow",
поэтому подключим "PT Sans".
Так как "PT Sans" имеет параметры шрифта: font-style: normal; и font-weight: 400;,
то дополнительно указывать их на <body> не нужно. Эти параметры являются параметрами
по умолчанию для большинства HTML-элементов.*/
body {
    font-family: "PT Sans";

    font-size: 16px;
    line-height: 24px;
  }